<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moje Kontakty</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    <h1>Moje Kontakty</h1>
    <!-- Tutaj możesz dodać kod HTML, aby wyświetlić listę kontaktów użytkownika -->
    <ul>
      <li>Kontakt 1</li>
      <li>Kontakt 2</li>
      <!-- ... -->
    </ul>

    <!-- Przycisk do dodawania nowego kontaktu -->
    <a href="/add_contact">Dodaj nowy kontakt</a>

    <!-- Przycisk do wylogowania -->
    <a href="/logout">Wyloguj się</a>
  </body>
</html>
